@import "../node_modules/bootstrap/scss/_functions";

$primary: #5265e1;
$secondary: #fa5959;
$variable-prefix: nellsavedra- !default;

$font-family-sans-serif: "Rubik", sans-serif;

$nav-tabs-border-color: transparent;
$nav-tabs-link-hover-border-color: transparent;
$nav-tabs-link-active-border-color: transparent;

@import "../node_modules/bootstrap/scss/_variables";
@import "../node_modules/bootstrap/scss/mixins";

$custom-spacers: (
  8: $spacer * 5,
  10: $spacer * 6,
  12: $spacer * 8,
);

$spacers: map-merge($custom-spacers, $spacers);

.nav-link {
  color: $gray-600 !important;
}

.login {
  color: white !important;
}

.login:hover {
  color: white !important;
}

body {
  color: black;
}

nav {
  .menu-hamburger {
    fill: #333;
  }
}

nav .navbar-nav .nav-link {
  letter-spacing: 0.15rem;
  font-size: 0.8rem;
}

nav .navbar-nav .nav-link {
  letter-spacing: 0.15rem;
  font-size: 0.8rem;
}

#featuresTab .nav-item {
  border-bottom: 1px solid $gray-300;

  & .nav-link.active {
    border-bottom: 3px solid $secondary;

    & .tabs-txt {
      color: black;
    }
  }
}

.blue-pill-left {
  position: absolute;
  z-index: -1;
  width: 400%;
  height: 72%;
  top: 15%;
  right: 25%;
}

.card .img-size {
  width: 40%;
}

@media (min-width: 992px) {
  #card1 {
    width: 16rem;
    margin-top: 1rem;
  }

  #card2 {
    width: 16rem;
    margin-top: 6rem;
  }

  #card3 {
    width: 16rem;
    margin-top: 12rem;
  }
}

@import "../node_modules/bootstrap/scss/bootstrap";

#mobile-nav {
  background-color: rgba(shade-color($primary, 50), 0.95);
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  display: none;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    color: white;
    letter-spacing: 0.25rem;
  }

  .mobile-nav-logo .logo-symbol {
    fill: shade-color($primary, 50);
  }

  .btn {
    border-color: white;

    @mixin pseudos {
      background-color: white;
      color: rgba(shade-color($primary, 50), 0.95);
    }

    &:hover {
      @include pseudos;
    }

    &:focus {
      @include pseudos;
    }

    &:active {
      @include pseudos;
    }
  }
}
